main > .container {
    padding: 60px 15px 0;
}
.footer {
    background-color: #f5f5f5;
}

.form-signin {
    width: 100%;
    padding: 15px;
    margin: auto;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}